/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #030C33;
	position: relative;
	text-align: center;
  }

/* Index Styles */
#clickableImage {
    width: auto; /* Set image width to 100% of its container */
    height: auto; /* Let the height adjust automatically based on the aspect ratio */
    display: block;
    margin: 0 auto;
}

/* Style for the clickable image */
#clickableImage:hover {
    cursor: pointer; /* Change cursor to pointer */
}

/* Main Menu Styles */
.main-menu {
    background-image: url("img/main-menue-background.jpg"); /* Set background image */
    background-size: cover; /* Cover the entire background */
}

.chose-your-mode-image img {
    display: block; /* Make sure image is treated as a block element */
    margin: 0 auto; /* Center align horizontally */
	margin-bottom: 50px;
	width: 45%;
	height: 45%;
}

.modes {
    display: flex;
    justify-content: space-between;
}

.left-mode, .right-mode {
    width: 50%;
    text-align: center;
}

.main-menu-options:hover {
    cursor: pointer; /* Change cursor to pointer */
}

.left-mode {
    margin-right: auto; /* Push Levels to the left */
}

.right-mode {
    margin-left: auto; /* Push Custom Puzzle to the right */
}

.mode button {
    width: 150px;
    height: 40px;
    font-size: 16px;
}

.mode button:hover {
    opacity: 0.8; /* Dim the button slightly on hover */
    transition: opacity 0.3s ease; /* Smooth transition */
}

/* Custom/Levels Styles */
#board {
    width: 400px;
    height: 400px;
    border: 2px solid purple;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 77px;
    height: 77px;
    border: 0.5px solid lightblue;
}

#pieces {
    width: 1040px;
    height: 160px;
    border: 2px solid purple;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#pieces img {
    width: 77px;
    height: 77px;
    border: 0.5px solid lightblue;
}

.pieces-container {
    margin-top: 20px;
}

/* Left Side Navigation Menu Styles */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    transition: width 0.5s; /* Add transition for smooth animation */
}


.sidenav button, #uploadForm {
    margin-bottom: 25px; /* Add margin below each button */
}

.minimized {
    width: 100px; /* Change width when minimized */
}


/* Style the toggle button */
#toggleButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
}

#sizeForm, .main-menu-link { /* Styles for adjustin of puzzle size and main menu links */
    margin-top: 20px;
    padding-left: 10px; 
}

#sizeDropdown { /* Style the nav dropdown */
    width: calc(100% - 20px); /* Adjust width to account for padding */
}

#level-selection label { /* styles the Radio buttons for level selection */
    display: block;
    margin-bottom: 10px;
    color: #fff;
}

#level-selection button { /* styles the Radio buttons submit button for level selection */
    margin-top: 10px;
}


/* Content Styles */
.content {
    margin-left: 250px; 
    padding: 20px;
    transition: margin-left 0.5s; /* Add transition for smooth animation */
}

.sidebar-closed .content {
    margin-left: 40px;
}

.minimized .main-menu-link,
.minimized #sizeForm,
.minimized #uploadForm,
.minimized #Level-text,
.minimized #level-selection {
    display: none; /* Hide elements when sidebar is minimized */
}

/* Navigation Links/Button Styles */
.sidenav a, #sizeForm, #Level-text {
    padding: 10px 8px 10px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff91;
    display: block;
}



.sidenav button {
    font-family: Arial, sans-serif;
    font-size: medium;
    color: #00d170;
    background-color: #05071d;
    padding: 6px;
    margin-bottom: 10px;
}

.CheckPuzzleButton {
    font-family: Arial, sans-serif;
    font-size: medium;
    color: #00d170;
    background-color: #2a058d;
    padding: 6px;
    
}

.button{
    color: #000;
    background-color: #00d170;
}
.sidenav a:hover {
    color: #f1f1f1; /* Change color on hover */
}

.Custom, .Levels {
    background-image: url("img/Levels-Custom-background.jpg"); /* Set background image */
    background-size: cover; /* Cover the entire background */
}

/* Counter Styles */
.counter, #turns{
    color: #818181;
}

/* Congratulations Popup Styles */
#congratulationsPopup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#congratulationsPopup .modal-content {
    background-color: #000000af;
    color: #0ca6ff;
    margin: 15% auto; /* Center the popup */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
}
#congratulationsPopup button {
    background-color: rgb(11, 105, 77); 
    color: #e4b20d;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
}

#congratulationsPopup .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#congratulationsPopup .close:hover,
#congratulationsPopup .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Preview Popup Styles */
.previewButton {
    display: block;
}

.minimized .previewButton { /* Hide the button when the sidebar is minimized */
    display: none;
}

/* Levels Styles */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
    grid-auto-rows: minmax(100px, auto); /* Auto adjust row height */
    grid-gap: 10px; /* Gap between grid items */
}

.box, .merged-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
}

.box:hover, .merged-box:hover {
    background-color: #f0f0f0;
}

.merged-box {
    grid-column: span 2; /* Merged box spans 2 columns */
}

.level-image-option {
    width: 150px; 
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Optional: Add some spacing between images */
    
}

/* Close button Styles */
.close { 
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
    color: #aaa;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Content */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #00000066; /* Black w/ opacity */
}

/* CSS for the preview popup */
.modal-content {
    background-color: rgba(0, 0, 0, 0.686);
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 600px; /* Limit max width for smaller screens */
    position: relative; /* Relative position for close button */
    text-align: center; /* Center align content */
    color:#00d170;

}

.modal-content button{
    color:#00d170;
    background-color: #0c114e;
    font-size: large;
}

.modal-content img {
    max-width: 100%; /* Limit image width to container width */
    height: auto; /* Maintain aspect ratio */
}

/* Add some space below the title*/ 
.big-title {
    margin-bottom: 100px; 
} 
